.lede {
  font-size: 1.5rem;
  color: $ctdata-extra-dark-blue;
  sup {
    color: $ctdata-extra-dark-blue;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

p.lede:first-child:first-letter {
  float: left;
  font-weight: bold;
  font-size: 4rem;
  line-height: 0.75rem;
  padding-top: 0.5rem;
}

.next__link {
  background-color: #504e51;
  padding-top: 4em;
  padding-bottom: 4em;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  overflow: hidden;
  -webkit-transition: opacity 0.4s ease-out 0s;
  -moz-transition: opacity 0.4s ease-out 0s;
  transition: opacity 0.4s ease-out 0s;
}

a.next__link:before {
  position: absolute;
  font-family: FontAwesome;
  content: '\f054';
  font-size: 3rem;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 100px;
}

a.next__link:hover {
  opacity: 0.5;
  text-decoration: none;
  color: white;
}

.next__content {
  .continue {
    text-transform: uppercase;
    color: white;
    letter-spacing: 4px;
    opacity: 0.8;
    font-weight:300;

  }
  .next-section {
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
  }
  .teaser {
    color: white;
    font-family: $font2;
    font-size: 1.5rem;
    //font-style: italic;
    width: 75%;
  }
  .teaser:before {
    font-family: FontAwesome;
    content: '\f10d';
    font-size: 1rem;
    float: left;
    margin-right: .3rem;
  }

  .teaser:after {
    font-family: FontAwesome;
    content: '\f10e';
    font-size: 1rem;
    margin-left: .3rem;
    position: relative;
    bottom: .5rem
  }
}

.footnote {
  font-size: 1rem;
  font-style: italics;
  width: 75%;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}