groupedbar {
}

dataviz {
  width: 100%;
  display: inline-block;

  div.groupedbar-container {
    height: 20rem;
    width: inherit;
  }
  div.groupedbar-container-internal {
    height: 100%;
    width: 100%;
  }

  div.groupedbar-container-internal > svg {
    g.axis path,
    g.axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    g.y-axis g.tick line {
      stroke: $extra-light-grey;
    }

    g.axis path {
      display: none;
    }

    g.groupedbar-lines path {
      fill: none;
      stroke-width: 1.5px;
    }

    g.groupedbar-points path,
    g.groupedbar-legend path.point {
      fill-opacity: 0;
      fill: $white;
      stroke-width: 1px;
    }

    rect.groupedbar-bar {
      fill-opacity: 0.85;
    }

    rect.bar-color-1 {
      fill: $ctdata-extra-dark-blue;
    }

    rect.bar-color-2 {
      fill: $ctdata-light-blue;
    }

    rect.bar-color-3 {
      fill: $red;
    }

    rect.bar-color-4 {
      fill: $dark-grey;
    }
  }

  div.legend-container.groupedbar-legend-container {
    width: inherit;
    height: 1.5rem;
    
    div.groupedbar-legend-container-internal {
      text-align: center;
    }

    div.groupedbar-legend-entry {
      display: inline-block;
      margin: 0 0.1rem;
      padding: 0 0.05rem;


      span {
        margin: 0 0.1rem;
      }

      span.groupedbar-legend-entry-color {
        display: inline-block;
        height: 1rem;
        width: 1rem;

        &.bar-color-1 {
          background-color: rgba($ctdata-extra-dark-blue, 0.85);
        }

        &.bar-color-2 {
          background-color: rgba($ctdata-light-blue, 0.85);
        }

        &.bar-color-3 {
          background-color: rgba($red, 0.85);
        }

        &.bar-color-4 {
          background-color: rgba($dark-grey, 0.85);
        }
        
      }
    }
  }
}