.groupedbar {
}

.groupedbar-tip {
  color: $white;
  background-color: $extra-dark-grey;
  /*padding: 0.25rem 0.5rem;*/
  padding: 0.4rem;
  font-weight: $heavy;
  border-radius: 0.1rem;
  text-align: center;
  line-height: 1;
}
.groupedbar-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

dataviz {

  width: 100%;
  display: inline-block;

  div.groupedbar-container {
    height: 20rem;
    width: inherit;
  }
  div.groupedbar-container-internal {
    height: 100%;
    width: 100%;
  }

  div.groupedbar-container-internal > svg {
    g.axis path,
    g.axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    g.y-axis g.tick line {
      stroke: $extra-light-grey;
    }

    g.axis path {
      display: none;
    }

    g.x-axis g.tick text,
    g.groupedbar-group text.groupedbar-value {
      @media screen and (max-width: 600px) {
        font-size: 0.75rem;
      }
      @media screen and (min-width: 601px) and (max-width: 840px) {
        font-size: 0.85rem;
      }
    }

    rect.groupedbar-bar {
      fill-opacity: 0.85;
    }
    rect.groupedbar-bar:hover {
      stroke-width: 0.15rem;
      stroke: rgba($dark-grey, 0.75);
    }

    rect.bar-color-1 {
      fill: $ctdata-extra-dark-blue;
    }

    rect.bar-color-2 {
      fill: $ctdata-light-blue;
    }

    rect.bar-color-3 {
      fill: $red;
    }

    rect.bar-color-4 {
      fill: $dark-grey;
    }
  }

  div.legend-container.groupedbar-legend-container {
    width: inherit;
    height: 1.5rem;
    
    div.groupedbar-legend-container-internal {
      text-align: center;
    }

    div.groupedbar-legend-entry {
      display: inline-block;
      margin: 0 0.1rem;
      padding: 0 0.05rem;


      span {
        margin: 0 0.1rem;
      }

      span.groupedbar-legend-entry-color {
        display: inline-block;
        height: 1rem;
        width: 1rem;

        &.bar-color-1 {
          background-color: rgba($ctdata-extra-dark-blue, 0.85);
        }

        &.bar-color-2 {
          background-color: rgba($ctdata-light-blue, 0.85);
        }

        &.bar-color-3 {
          background-color: rgba($red, 0.85);
        }

        &.bar-color-4 {
          background-color: rgba($dark-grey, 0.85);
        }
        
      }
    }
  }
}