.hero {
  height: 15rem;
  background: $ctdata-dark-blue;
  padding-top: 4rem;
  margin-bottom: 4rem;

  h1,h2,h3,h4 {
    color: white;
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    height: 7rem;
    padding-top: 2rem;
    h1 {
      font-size: 1.25rem;
    }
  }
  @media screen and (min-width: 601px) and (max-width: 840px) {
    height: 10rem;
    padding-top: 3rem;
    h1 {
      font-size: 1.75rem;
    }
  }

}
