.table-container {
    border-top: solid 2px $ctdata-dark-blue;
    border-bottom: solid 2px $ctdata-dark-blue;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    .table-title {
        color: $ctdata-dark-blue;
        margin-bottom: 0;
    }
    .source:before {
        content: "Source: ";
    }
    .source {
        font-size: 1rem;
        font-style: italic;
        margin-bottom: 0;
    }

}

table.ctdata-table {
    //width: calc(100% - #{$sidebar-menu-width});
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    //margin-bottom: 2rem;

    tbody > tr > th {
        width: 40%;
        min-width: 10rem;
    }

    th, td {
        padding: .25em,.75em;
    }

    tbody tr:hover {
        background: $ctdata-light-blue;
    }
    .hide {
        //display: none;
        background: white;
        color: white;
    }
    .name {
        font-size:1.1rem;
        text-align: left;
        font-weight:500;
        padding-left: 1rem;
    }

    .col-name {
        text-align: right;
        font-weight: 700;
        background-color: $ctdata-extra-light-blue;
        border-left: 5px solid #fff;
    }

    .col-span-center {
        text-align: center;
        background-color: $ctdata-light-blue;
    }

    .value {
        text-align: right;
        font-weight: 300;
    }

    .name, .col-name, .value {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    @media screen and (min-width: $reflow-table-break) {
        .subcategory_break td,
        .subcategory_break th {
            padding-bottom: 0.75rem;
        }
    }

    @media screen and (max-width: $reflow-table-break) {
        margin-bottom: 1rem;

        thead {
            display: none;
        }

        tr, td {
            display: block;
        }

        .value {
            text-align: left!important;
            padding-left: 1.25rem!important;
        }

        tr:hover {
            background: none;
        }

        tbody > tr > td:last-child {
            padding-bottom: 0.75rem;
        }

        tbody > tr > th {
            padding-bottom:0.25rem;
        }

        tbody td:before {
            content: attr(data-title) ":\00A0";
        }

        tbody:not(:last-child) .subcategory_break td:last-child {
            border-bottom: 1px solid $extra-light-grey;
        }
    }

    tfoot {
        tr.suppression_notes {
            font-size:0.9rem;
        }
    }
}
