timeseries {
}
svg.timeseries {
  width:100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

i.timeseries_toggle {
    color: $ctdata-extra-dark-blue;
    cursor: pointer;
    font-size:1.4rem;
}

@media screen and (min-width: $reflow-table-break) {
    td.timeseries_cell {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}
@media screen and (max-width: $reflow-table-break) {
    td.timeseries_cell:before {
        content: ""!important;
    }
}