timeseries {
}

dataviz {
  width: 100%;
  display: inline-block;

  div.timeseries-container {
    height: 20rem;
    width: inherit;
  }
  div.timeseries-container-internal {
    height: 100%;
    width: 100%;
  }

  div.timeseries-container-internal > svg {
    g.axis path,
    g.axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    g.y-axis g.tick line {
      stroke: $extra-light-grey;
    }

    g.axis path {
      display: none;
    }

    g.timeseries-lines path {
      fill: none;
      stroke-width: 1.5px;
    }

    g.timeseries-points path,
    g.timeseries-legend path.point {
      fill-opacity: 0;
      fill: $white;
      stroke-width: 1px;
    }
  }

  div.legend-container.timeseries-legend-container {
    width: inherit;
    height: 1.5rem;
    
    div.timeseries-legend-container-internal {
      text-align: center;
    }

    div.timeseries-legend-entry {
      display: inline-block;
      margin: 0 0.1rem;
      padding: 0 0.05rem;


      span {
        margin: 0 0.1rem;
      }

      span.timeseries-legend-entry-color {
        display: inline-block;
        height: 1rem;
        width: 1rem;
      }
    }
  }
}

/*svg.timeseries {
  width:100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

i.timeseries_toggle {
    color: $ctdata-extra-dark-blue;
    cursor: pointer;
    font-size:1.4rem;
}

tr.timeseries_row:hover,
tr.timeseries_row *:hover,{
  background-color: $white!important;
}

@media screen and (min-width: $reflow-table-break) {
    td.timeseries_cell {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}
@media screen and (max-width: $reflow-table-break) {
    td.timeseries_cell:before {
        content: ""!important;
    }
}*/